<!-- <button mat-raised-button color="primary" (click)="toggle('df-theme')">DF</button>
<button mat-raised-button color="primary" (click)="toggle('ho-theme')">HO</button>
<button mat-raised-button color="primary" (click)="toggle('default-theme')">Default</button> -->

<mat-form-field>
  <mat-select placeholder="Select a Theme" [(value)]="selected" (selectionChange)="toggle()">
    <mat-option value="default-theme">Default</mat-option>
    <mat-option *ngFor="let team of teams" [value]="team.theme">
      {{ team.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!-- <p>{{ selected }}</p> -->
