<mat-card>

    <mat-toolbar color="primary">
      <mat-toolbar-row class="clips-toolbar">Latest Clips</mat-toolbar-row>
    </mat-toolbar>

    <p>Click on a Thumbnail to Open a Clip or <a href="https://www.twitch.tv/overwatchleague/clips" target="_blank">View all Clips</a></p>
    <mat-divider [inset]="true"></mat-divider>
    <div class="clips-grid">
      <button mat-button class="clip-thumb" (click)="openClipsDialog('1')">
        <h4 class="clip-title">Fissure goes deep</h4>
        <img class="clip-thumb-img" src="../../assets/images/clip1-thumb.jpg">
      </button>
      <button mat-button class="clip-thumb" (click)="openClipsDialog('2')">
        <h4 class="clip-title">"I <3 Soe"</h4>
        <img class="clip-thumb-img" src="../../assets/images/clip2-thumb.jpg">
      </button>
      <button mat-button class="clip-thumb" (click)="openClipsDialog('3')">
        <h4 class="clip-title">Striker crying AngelThump</h4>
        <img class="clip-thumb-img" src="../../assets/images/clip3-thumb.jpg">
      </button>
      <button mat-button class="clip-thumb" (click)="openClipsDialog('4')">
        <h4 class="clip-title">Match of the Week: Stage 3 Week 3</h4>
        <img class="clip-thumb-img" src="../../assets/images/clip4-thumb.jpg">
      </button>
    </div>

</mat-card>
