<mat-dialog-content>
  <div fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutAlign="center">
    <div fxFlex="100%">
      <h2 class="mat-h2">{{ player.firstName }} "{{ player.alias }}" {{ player.lastName}}</h2>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutAlign="center" fxLayoutGap="10px" fxFlexFill>
    <div fxFlex="40%">
      <img class="player-logo mat-elevation-z8" src="{{ player.imageLocation }}" alt="{{ player.alias }}">
    </div>
    <div fxFlex="50%">
      <div fxLayout="column">
        <div fxFlex="20%">
          <h2 class="mat-h2">Quick Facts:</h2>
        </div>
        <div fxFlex="20%">
            <h3 class="mat-h3"><b>Alias: </b>{{ player.alias }}</h3>
        </div>
        <div fxFlex="20%">
            <h3 class="mat-h3"><b>Full Name: </b>{{ player.firstName }} {{ player.lastName}}</h3>
        </div>
        <div fxFlex="20%">
            <h3 class="mat-h3"><b>Team: </b>{{ player.team.name }}</h3>
        </div>
        <div fxFlex="20%">
            <h3 class="mat-h3"><b>Role: </b>{{ this.role }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center stretch">
      <h1 class="mat-h1">Juicy Details:</h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%">
        <app-hero-list></app-hero-list>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="20%">
      <h1 class="mat-h1">Official Links:</h1>
    </div>
    <div fxFlex="80%" fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutAlign="center" fxLayoutGap="10px"
      fxFlexFill>
      <div fxFlex="15%">
        <i class="fab fa-facebook"></i>
      </div>
      <div fxFlex="15%">
        <i class="fab fa-twitch"></i>
      </div>
      <div fxFlex="15%">
        <i class="fab fa-youtube"></i>
      </div>
      <div fxFlex="15%">
        <i class="fab fa-google-plus-square"></i>
      </div>
      <div fxFlex="15%">
        <i class="fab fa-instagram"></i>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
