<mat-card color="primary">
  <mat-toolbar class="my-team-toolbar" color="primary">{{ myTeam.name }}</mat-toolbar>
  <div class="team-content">
    <div class="prev-match">
      <h2>Previous Match</h2>
      <mat-card >
        <div *ngIf="!showSpoiler">
          <button mat-button (click)="showSpoiler = true">Show Result</button>
        </div>
        <div *ngIf="showSpoiler" class="prev-result">
          <p> vs. Florida Mayhem</p>
          <h3>3 - 1</h3>
          <p style="color: red">LOST</p>
        </div>
      </mat-card>
      <br>
      <a mat-raised-button href="https://overwatchleague.com/en-us/match/10364" target="_blank" color="primary">Match Report</a>
    </div>

    <div class="latest-match">
      <h2>Live Now vs Dallas Fuel</h2>
      <div>
          <iframe src="https://player.twitch.tv/?autoplay=false&video=v252705386"
            frameborder="0" allowfullscreen="true" 
            scrolling="no" height="300" width="400">
          </iframe>
      </div>
    </div>

    <div class="team-details">
      <h2>Team Details</h2>
      <div class="t-d-box">
        <div><a mat-raised-button color="primary" href="https://dragons.overwatchleague.cn/en-us/" target="_blank">Visit Website</a></div><br>
        <div><a mat-raised-button color="primary" href="https://dragons.overwatchleague.cn/en-us/roster" target="_blank">View Roster</a></div><br>
        <div class="team-standings">
          <h4><i>Stage Standings</i></h4>
          <p><b>12th</b></p>
          <p>0W-6L</p><br>
          <h4><i>Season Standings</i></h4>
          <p><b>12th</b></p>
          <p>0W-26L</p>
        </div>
      </div>
      
    </div>
  </div>
</mat-card>
