.my-team-toolbar {
    margin: 0px 0px;
    font-family: 'Exo 2', sans-serif;
    font-size: 200%;
    text-align: center;
}

.team-content {
    display: flex;
}

.prev-match {
    flex-grow: 1;
    text-align: center;
}

.prev-result {
    width: 70%;
    margin: 0px auto;
    line-height: 70%;
    font-family: 'Exo 2', sans-serif;
}

.latest-match {
    flex-grow: 3;
    text-align: center;
}

.team-details {
    flex-grow: 2;
    text-align: center;
}

.t-d-box {
    border: solid lightgray 5px;
}

.team-standings {
    line-height: 70%;
}