.my-team-toolbar {
    margin: 0px 0px;
    font-family: 'Exo 2', sans-serif;
    font-size: 200%;
    text-align: center;
}

.team-content {
    display: grid;
    grid-auto-columns: 2fr 3fr;
    grid-auto-rows: 2fr 1fr;
}

.prev-match {
    font-family: 'Exo 2', sans-serif;
    width: 25%;
    text-align: center;
    grid-row: 1/1;
    grid-column: 1/1;
}

.prev-result {
    width: 70%;
    margin: 0px auto;
    line-height: 70%;
    font-family: 'Exo 2', sans-serif;
}

.latest-match {
    font-family: 'Exo 2', sans-serif;
    margin-left: 20%;
    text-align: center;
    grid-row: 1/1;
    grid-column: 1/1;
}

.team-details {
    font-family: 'Exo 2', sans-serif;
    text-align: left;
    grid-row: 2/2;
    grid-column: 1/2;
}

.t-d-box {
    display: flex;
    flex-direction: row;
}

.team-buttons {
    margin: 5px 5px;
    flex-grow: 1;
}

.team-standings1 {
    line-height: 70%;
    flex-grow: 1;
}

.team-standings2 {
    line-height: 70%;
    flex-grow: 1;
}

.next-match {
    flex-grow: 1;
    line-height: 50%;
}