<div class="signup-container">
  <mat-card>
    <mat-card-title>
      My Overwatch League Signup
    </mat-card-title>
    <mat-card-subtitle>
      Create your official MOWL account below:
    </mat-card-subtitle>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your details</ng-template>
            <mat-form-field>
              <input matInput placeholder="First Name" formControlName="firstCtrl" [(ngModel)]="this.fName" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name" formControlName="firstCtrl" [(ngModel)]="this.lName" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Battletag" formControlName="firstCtrl" [(ngModel)]="this.bTag" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Choose your team</ng-template>
            <button mat-raised-button (click)="this.teamModalService.openDialog()">Select a Team!</button>
            <mat-form-field hideRequiredMarker>
              <input matInput placeholder="Team" formControlName="secondCtrl" value="{{this.teamModalService.selectedTeam}}" readonly>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <h1 class="mat-headline">Confirm your details below:</h1>
          <h2 class="mat-subheading-2">Name: <b>{{ this.fName }} {{ this.lName }}</b></h2>
          <h2 class="mat-subheading-2">Battletag: <b>{{ this.bTag }}</b></h2>
          <h2 class="mat-subheading-2">Team: <b>{{ this.teamModalService.selectedTeam }}</b></h2>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button routerLink="/home">Confirm</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
