<div fxLayout="row wrap" fxLayout.sm="column wrap" fxLayout.xs="column wrap" fxLayoutAlign="center" fxLayoutGap="10px" fxFlexFill>
  <!-- <div fxFlex="30%">
    <img class="hero-logo mat-elevation-z8" src="{{ heroes.ANA. }}" alt="{{ player.alias }}">
  </div>
  <div fxFlex="30%">
    <img class="hero-logo mat-elevation-z8" src="{{ player.imageLocation }}" alt="{{ player.alias }}">
  </div>
  <div fxFlex="30%">
    <img class="hero-logo mat-elevation-z8" src="{{ player.imageLocation }}" alt="{{ player.alias }}">
  </div> -->
</div>
