<div>
    <h2 mat-dialog-title class="title">Fissure goes deep</h2>

    <mat-dialog-content style="text-align: center;">
      <iframe src="https://clips.twitch.tv/embed?clip=AggressiveUninterestedTortoiseFUNgineer&autoplay=false&tt_medium=clips_embed" 
        width="640" 
        height="360" 
        frameborder="1" 
        scrolling="no" allowfullscreen="true"></iframe>
    </mat-dialog-content>
      
    <mat-dialog-actions>
      <button mat-raised-button (click)="close()" color="primary">Close</button>
    </mat-dialog-actions>
  </div>
