.landing-container {
    margin: auto 7%;
    height: max-content;
}

.landing-greeting {
    background-image: url(/assets/images/owl-background.jpg);
    padding: 8%;
}

.landing-headings {
    padding-top: 20px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 200%;
    color: white;
    text-shadow: 3px 3px black;
}

.login-form {
    padding: 20px;
    background: rgba(50, 50, 50, 0.5);
}

.login-instr {
    text-align: center;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-size: 200%;
}

.login-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in-button {
    padding: 10px 5%;
    font-size: 125%;
}

.sign-up-button {
    padding: 10px 5%;
    font-size: 125%;
}

.spacer {
    flex: 0.1 1 auto;
}