<div class="landing-container">
  <mat-card style="background: #0000;">
    <div class="landing-headings">
      <h1 class="landing-title">MY OVERWATCH LEAGUE</h1>
      <h2 class="landing-subtitle">YOUR League, YOUR Teams, YOUR Players</h2>
    </div>
    <div class="login-form">
      <h2 class="login-instr">Log In to your existing Account or Sign Up if you are new</h2>
      <div class="login-buttons">
        <button mat-raised-button class="log-in-button" routerLink="/home" color="primary"> LOG IN </button>
        <span class="spacer"></span>
        <button mat-raised-button class="sign-up-button" color="primary"> SIGN UP </button>
      </div>
    </div>
  </mat-card>

</div>
