<mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row class="news-toolbar">League News</mat-toolbar-row>
  </mat-toolbar>

  <div class="news">
      <br>
        <mat-toolbar>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/rinse-repeat.jpg">
            <span class="spacer2"></span>
            <p>Reverse, Repeat</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/la3.jpg">
            <span class="spacer2"></span>
            <p>Battle for LA 3: Wings Out</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/exceeding.JPG">
            <span class="spacer2"></span>
            <p>Exceeding Expectaions</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
  </div>

  <div class="standings">

  </div>
  
</mat-card>
