<mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row class="news-toolbar">League News</mat-toolbar-row>
  </mat-toolbar>

  <div class="news">
      <br>
        <mat-toolbar>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/rinse-repeat.jpg">
            <span class="spacer2"></span>
            <p class="news-headline">Reverse, Repeat</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/la3.jpg">
            <span class="spacer2"></span>
            <p class="news-headline">Battle for LA 3: Wings Out</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
          <mat-toolbar-row class="article-toolbar">
            <img class="news-img" src="../../assets/images/exceeding.JPG">
            <span class="spacer2"></span>
            <p class="news-headline">Exceeding Expectaions</p>
            <span class="spacer"></span>
            <span class="news-readmore">
              <a mat-button color="primary">Read More</a>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
  </div>

  <mat-card class="about-buttons">
      <a mat-raised-button color="accent" class="about-btn" href="https://overwatchleague.com/en-us/news" target="_blank">More News</a><br><br>
    <a mat-raised-button color="accent" class="about-btn" href="https://overwatchleague.com/en-us/schedule" target="_blank">Schedule</a>
    <a mat-raised-button color="accent" class="about-btn" href="https://overwatchleague.com/en-us/standings" target="_blank">Standings</a>
    <a mat-raised-button color="accent" class="about-btn" href="https://overwatchleague.com/en-us/about" target="_blank">More Info</a>
  </mat-card>
  
</mat-card>
