<div class="defaut-theme">

  <div class="navbars">
    <mat-toolbar class="site-navbar">
      <!-- <span class="navbar-title">MY OVERWATCH LEAGUE</span> -->
      <img src="../assets/images/my-owl-logo-text.svg" class="my-owl-logo">
      <img src="../assets/images/owl-logo.png" class="owl-logo">
      <!-- REMOVE -->
      <app-player-link name="Ado"></app-player-link>
      <app-player-link name="FLETA"></app-player-link>
      <!-- TILL HERE -->
      <span class="fill-remaining-space"></span>
      <div>
        <app-theme-select (chosenTheme)="chosenTheme($event)"></app-theme-select>
      </div>
    </mat-toolbar>
  </div>

  <br>
  <router-outlet></router-outlet>
  <br>

  <!-- <div>
    <h1 class="mat-h1" style="color: azure;">Testing Section</h1>
    <div>
      <app-theme-select (chosenTheme)="chosenTheme($event)"></app-theme-select>
    </div>

    <div>
      <button mat-raised-button (click)="this.teamModalService.openDialog()">Team Modal Button</button>
    </div>

    <div>
      <button mat-raised-button (click)="this.playerModalService.openDialog()">Player Modal Button</button>
    </div>

    <div>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
    </div>
    <div>
      <button mat-raised-button (click)="subscribeToNotifications();">Subscribe</button>
    </div

    <div style="height: 100px;">
    </div>
  </div> -->

  <!-- <div style="height: 200px;"></div> -->

  <mat-toolbar class="footer">
    <div class="footer-content">
      <a mat-button class="owl-link" style="margin:10px" href="https://overwatchleague.com/en-us/" target="_blank">Overwatch League Website</a>
      <a mat-button class="ow-link" style="margin:10px" href="https://playoverwatch.com/en-us/" target="_blank">Overwatch Wesbite</a>
      <a mat-button class="blizz-link" style="margin:10px" href="https://www.blizzard.com/en-us/" target="_blank">Blizzard Website</a>
      <a mat-button class="twitter-link" style="margin:10px" href="https://twitter.com/overwatchleague?lang=en" target="_blank">Twitter</a>
      <a mat-button class="youtube-link" style="margin:10px" href="https://www.youtube.com/channel/UCiAInBL9kUzz1XRxk66v-gw" target="_blank">YouTube</a>
    </div>
  </mat-toolbar>

</div>
