.navbars{
    width: 100%;
    z-index: 1;
}

.navbar-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 200%;
}

.site-navbar {
    display: flex;
    justify-content: center;
}

.owl-logo {
    height: 150%;
}

.my-owl-logo {
  height: 80%;
}

.footer {
    bottom:0;
    border-top: 1px solid #bbb;
    width: 100%;
    height: 50px;
}

.footer-content {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }