<div class="defaut-theme">

  <div class="navbars">
    <mat-toolbar class="site-navbar" color="primary">
      <span class="navbar-title">MY OVERWATCH LEAGUE</span>
      <img src="../assets/images/owl-logo.png" class="owl-logo">
    </mat-toolbar>
  </div>

  <br>
  <router-outlet></router-outlet>
  <br>

  <mat-toolbar class="footer" color="primary">
    <div class="footer-content">
      <a mat-button class="owl-link" style="margin:10px" href="https://overwatchleague.com/en-us/" target="_blank">Overwatch League Website</a>
      <a mat-button class="ow-link" style="margin:10px" href="https://playoverwatch.com/en-us/" target="_blank">Overwatch Wesbite</a>
      <a mat-button class="blizz-link" style="margin:10px" href="https://www.blizzard.com/en-us/" target="_blank">Blizzard Website</a>
      <a mat-button class="twitter-link" style="margin:10px" href="https://twitter.com/overwatchleague?lang=en" target="_blank">Twitter</a>
      <a mat-button class="youtube-link" style="margin:10px" href="https://www.youtube.com/channel/UCiAInBL9kUzz1XRxk66v-gw" target="_blank">YouTube</a>
    </div>
  </mat-toolbar>

</div>

<!-- <div>
  <app-team-list></app-team-list>
</div> -->

<div>
  <app-theme-select (chosenTheme)="chosenTheme($event)"></app-theme-select>
</div>

<div>
  <button mat-raised-button (click)="this.teamModalService.openDialog()">Team Modal Button</button>
</div>

<div>
    <button mat-raised-button (click)="this.playerModalService.openDialog()">Player Modal Button</button>
  </div>
