.my-ow-card {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.my-ow-title {
    font-size: 200%;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

.profile-img {
    width: 25%;
}

.my-ow-avatar {
    background-image: url(../../assets/images/heroes/Lucio_portrait.png);
    background-size: cover;
}

.played-heroes {
    float: right;
    text-align: start;
}

.detail-played-heroes {
    text-align: center;
}

.path-to-pro {
    padding: 0px;
    text-align: center;
    background-size: cover;
}

.p2p-img {
    width: 100%;
    padding: 0px;
}