<div >

<h2 mat-dialog-title style="font-family:'Exo 2',sans-serif;">R2D2Soon playing as {{ hero.name }}</h2>

<mat-dialog-content>
  <div class="mdc">
    <div class="pro-comparison">
      <mat-card class="card-comparison">
        <mat-card-title>Top Overwatch League {{ hero.name }} Players</mat-card-title>
        <mat-card-content>
          <ul>
            <li><img src="{{ player1.imageLocation }}" class="player-img"><br><app-player-link (click)="close()" name="{{player1.alias}}"></app-player-link></li>
            <li><img src="{{ player2.imageLocation }}" class="player-img"><br><app-player-link (click)="close()" name="{{player2.alias}}"></app-player-link></li>
            <li><img src="{{ player3.imageLocation }}" class="player-img"><br><app-player-link (click)="close()" name="{{player3.alias}}"></app-player-link></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pro-guides">
      <mat-card class="card-guides" color="accent">
        <mat-card-title>{{ hero.name}} Guides</mat-card-title>
        <mat-card-content>
          <ul>
            <li><a>Guide to Wall Riding</a>
              <iframe width="560" height="315"
              src="https://www.youtube.com/embed/esUhdfap7hQ" 
              frameborder="0" allow="autoplay; encrypted-media" 
              allowfullscreen></iframe>
            </li>
            <li><a href="https://overwatchleague.com/en-us/news/21700679/peel-explained">Peel Explained</a></li>
            <li><a href="https://overwatchleague.com/en-us/news/21670795/dive-explained">Fundamentals of Dive</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pro-clips">
      <mat-card class="card-clips" color="accent">
          <mat-card-title>Latest {{ hero.name }} Clip</mat-card-title>
          <mat-card-content style="text-align: center;">
            <iframe src="https://clips.twitch.tv/embed?clip=TransparentTentativeCodKappaWealth&autoplay=false&tt_medium=clips_embed" 
                    width="640" 
                    height="360" 
                    frameborder="1" 
                    scrolling="no" allowfullscreen="true"></iframe>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>
<br>
<mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="primary">Close</button>
</mat-dialog-actions>

</div>