<h2 mat-dialog-title>R2D2Soon playing as Lucio</h2>

<mat-dialog-content>
  <div class="mdc">
    <div class="pro-comparison">
      <mat-card color="accent">
        <mat-card-title>Top Overwatch League Lucio Players</mat-card-title>
        <mat-card-content>
          <ul>
            <li><img src="{{player.imageLocation}}" class="player-img"><br>{{ player.alias }}</li>
            <li><img src="{{player.imageLocation}}" class="player-img"><br>{{ player.alias }}</li>
            <li><img src="{{player.imageLocation}}" class="player-img"><br>{{ player.alias }}</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pro-guides">
      <mat-card color="primary">
        <mat-card-title>Lucio Guides</mat-card-title>
        <mat-card-content>
          <ul>
            <li>How to Wall Ride Backwards</li>
            <li>How to play Lucio in a non-dive comp</li>
            <li>Fundamentals of Dive</li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="pro-clips">
      <mat-card color="accent">
          <mat-card-title>Lucio Highlights</mat-card-title>
          <mat-card-content>
            <iframe src="https://clips.twitch.tv/embed?clip=TransparentTentativeCodKappaWealth&autoplay=false&tt_medium=clips_embed" 
                    width="640" 
                    height="360" 
                    frameborder="0" 
                    scrolling="no" allowfullscreen="true"></iframe>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="close()">Close</button>
</mat-dialog-actions>