.top-space {
    height: 100%;
}

.home-container {
    margin: auto 7%;
    height: max-content;
}

.dashboard-spacer {
    flex: 1 1 auto;
}

.home-dashboard {
    display: flex;
    flex-direction: row;
}

.dash-title {
    margin: auto 1%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
}

.go-back {
    width: auto;
}

.home-content {

}
