.home-container {
    margin: auto 7%;
    height: max-content;
}

.home-dashboard {
    padding: 8%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.go-back {
    
}

.dashboard-title {
    text-align: center;
}
