<div class="home-container">
  <mat-toolbar class="home-dashboard" color="accent">
    <h1 class="dash-title">Hello there <!--{{ user.name }}--> </h1>
    <div class="dashboard-spacer"></div>
    <button mat-button class="settings-button" [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>User Name</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item routerLink="/landing">Log Out</button>
  </mat-menu>

  <mat-card class="home-content" color="primary"></mat-card>
</div>
