.top-space {
    height: 100%;
}

.home-container {
    margin: auto 7%;
    height: max-content;
}

.dashboard-spacer {
    flex: 1 1 auto;
}

.home-dashboard {
    display: flex;
    flex-direction: row;
}

.dash-title {
    margin: auto 1%;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 250%;
}

.go-back {
    width: auto;
}

.home-content {

}

.cards-container {
    display: grid;
    justify-content: space-between;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas: "my-ow my-team my-team"
                        "my-feed my-clips my-news";
}

.my-ow-container {
    grid-area: my-ow;
}

.my-team-container {
    grid-column: 2/3;
    grid-area: my-team;
}

.my-feed-container {
    grid-area: my-feed;
}

.my-clips-container {
    grid-area: my-clips;
}

.my-news-container {
    grid-area: my-news;
}

.my-ow-card {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.my-ow-title {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
}

.profile-img {
    width: 25%;
}

.my-ow-avatar {
    background-image: url(../../assets/images/heroes/Lucio_portrait.png);
    background-size: cover;
}

.played-heroes {
    float: right;
    text-align: start;
}

.detail-played-heroes {
    text-align: center;
}