<h2 mat-dialog-title>Select a Team</h2>
<mat-dialog-content>
  <mat-button-toggle-group>
    <ng-container *ngFor="let team of teams">
      <mat-button-toggle [ngStyle]="dynamicStyles(team)">
        <img src="{{ team.logoLocation }}" alt="logo" width="50px" height="50px">
        <h5 style="margin: 0;">{{team.name}}</h5>
      </mat-button-toggle>
      <br />
    </ng-container>
  </mat-button-toggle-group>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
